/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #39b8ff #ffd600;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffd600;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #39b8ff;
    border-radius: 10px;
    border: 3px solid #000000;
  }