@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
$primaryColor: #ffd600;
$navBarTextColor: rgba(35, 31, 32, 1);
$navBarDropdowItemColor: rgba(255, 255, 255, 1);