@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
$primaryColor: #ffd600;
$primaryDarkColor: rgba(35, 31, 32, 1);
$orangeColor: #ff7a00;
$blueColor: #39b8ff;

$defaultMainColor: rgb(238, 255, 0);
$defaultExtraColor: rgba(255, 214, 0, 1);
$defaultExtraColor2: #ffee00;
$defaultExtraColorLight: #fcff5d;
$defaultExtraLessLight: rgb(240, 237, 57);
$defaultExtraColorDark: rgba(235, 211, 0, 0.59);
$defaultExtraLessDark: #e4d508;
$defaultBoxShadow: rgba(229, 255, 0, 0.25) 0px 54px 55px,
  rgba(255, 251, 0, 0.12) 0px -12px 30px, rgba(255, 238, 3, 0.027) 0px 4px 6px,
  rgba(255, 238, 0, 0.055) 0px 12px 13px, rgba(238, 255, 0, 0.096) 0px -3px 5px;
$defaultGradient: linear-gradient(
  45deg,
  #fffb00 0%,
  #ffa600 51%,
  hsl(313, 82%, 51%) 100%
);
$defaultExtraOneMoreColor: rgba(250, 255, 0, 0.91);
$defaultBackColor: #0E0E0E;
$homePagePurple: #AD00FF;

$navBarDropdowItemColor: rgba(255, 255, 255, 1);

// These are used in PetList component
$lightGreyColor: #353535;
$lighterGreyColor: #404040;
$darkerTextColor: #c7c7c7;

//admin page
$adminPageBackground: #f9f9f9;
$adminPageDefaultBlack: #1c1c1c;
$adminPageDefaultWhite: #fff;
$adminPageTransparentYellow: #fffade;
$adminPageTransparentGray: #c8c8c8;
$adminPageBorders: #ededed;
$adminPagePlaceholder: #b9b9b9;
$blackBackground: rgb(31, 28, 28);

//helpful info page
$helpfulInfoYellow: #FEDA3B;
