.GeneralHelp {
  background-color: #61d0ff;
  &__text {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    position: relative;
    h1 {
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 64px;
    }
    a {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 24px;
      background-color: #1a1a1a;
      padding: 8px 35px 8px 35px;
      border-radius: 10px;
      color: #fafafa;
      text-decoration: none;
      transition: 0.2s;
      &:hover {
        color: gray;
        padding: 8px 40px 8px 40px;
      }
    }
  }
  &__button {
    &_arrow1 {
      margin-right: 30px;
      animation-name: MoveArrow1;
      animation-duration: 1s; /* Тривалість анімації */
      animation-iteration-count: infinite; /* Безкінечне повторення */
    }
    &_arrow2 {
      margin-left: 30px;
      animation-name: MoveArrow2;
      animation-duration: 1s; /* Тривалість анімації */
      animation-iteration-count: infinite; /* Безкінечне повторення */
    }
    @keyframes MoveArrow1 {
      0% {
        margin-right: 30px;
      }
      50% {
        margin-right: 20px;
      }
      100% {
        margin-right: 30px;
      }
    }
    @keyframes MoveArrow2 {
      0% {
        margin-left: 30px;
      }
      50% {
        margin-left: 20px;
      }
      100% {
        margin-left: 30px;
      }
    }
  }
  .BackgroundForHelpUs {
    position: absolute;
    bottom: 0;
  }
}
.YouCanHelp {
  background-color: #1e1e1e;
  padding-bottom: 250px;
  h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: white;
    text-align: center;
    padding-top: 120px;
  }
  &_Options {
    display: inline-flex;
    flex-direction: column;
  }
  &__Option {
    &_title {
      div {
        padding-left: 50px;
        font-size: 30px;
      }
    }
  }
  &__Option {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
    color: white;
    padding-left: 150px;
    h4 {
      font-size: 18px;
    }
  }
}
.WhereWe {
  display: inline-flex;
  flex-direction: column;
  padding-left: 300px;
  text-align: center;
  color: #ffd600;
  font-size: 32px;
  font-weight: 600;
  & span {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 80px;
    text-align: center;
  }
  .GeneralHelp {
    &__button {
      display: flex;
      align-items: center;
    }
  }
  .BackgroundForHelpUs {
    width: 850px;
  }
  .YouCanHelp {
    &__Option {
      padding-left: 90px;
      &_title div {
        font-size: 40px;
        padding-left: 25px;
      }
      h4 {
        font-size: 20px;
      }
    }
  }
  .WhereWe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-top: 70px;
    &__map {
      height: 500px;
      width: 500px;
    }
    span {
      font-size: 40px;
    }
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 50px !important;
    text-align: center;
  }
  .GeneralHelp {
    &__button {
      display: flex;
      align-items: center;
    }
  }
  .BackgroundForHelpUs {
    width: 485px !important;
  }
  .YouCanHelp {
    &__Option {
      padding-left: 35px;
      &_title div {
        padding-left: 25px;
      }
    }
  }
  .WhereWe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-top: 70px;
    &__map {
      height: 300px;
      width: 300px;
    }
  }
}
