@import "../defines.scss";

:root {
  --index: calc(1vw + 1vh)
}

.App {
  overflow-x: hidden;
}

.loader {
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, $primaryColor 94%, #0000),
    radial-gradient(farthest-side, $primaryDarkColor 94%, #0000);
  background-position: center;
  background-repeat: no-repeat;
  animation: l4 1.5s infinite;
}

@keyframes l4 {
  0% {
    background-size: 0 0, 0 0
  }

  30%,
  50% {
    background-size: 0 0, 120% 120%
  }

  80%,
  100% {
    background-size: 120% 120%, 120% 120%
  }
}

.mainPetBlock {
  ::selection {
    color: $defaultBackColor;
    background-color: $defaultMainColor;
  }

  overflow-x: hidden;
  min-height: 100vh;
  max-height: auto;
  width: 100vw;
  background-color: rgba(35, 31, 32, 1);
  background-position: center;
  background-size: 100%;
}

.pet-info__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 150px;
  padding-top: 100px;
}

.begPetBlock {
  width: 90vw;
  height: 700px;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: auto;

  .begPetBlock__descBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__descBlock {
    width: 40%;
    height: 100%;
    text-align: left;
    align-self: center;
    font-size: 28px;

    &__div {
      color: #fff;
      padding-bottom: 15px;
      display: flex;
      gap: 20px;

      span {
        color: #fff;
        display: block;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      width: max-content;
      padding: 9px 20px;
      border-radius: 40px;
      background-color: $defaultExtraColor;
      border: 2.5px solid $defaultExtraColor;
      transition: 0.5s;

      p {
        font-size: 28px;
        font-weight: 600;
        margin-right: 30px;
        color: rgba(35, 31, 32, 1);
      }
    }

    &__button:hover {
      background-color: #fff;
      transition: 0.5s;
    }

    &__button:hover::before {
      content: "";
      width: 60px;
      height: 100%;
      background-image: url(../../images/icons/home.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;
    }

    &__button::before {
      content: "";
      width: 60px;
      height: 100%;
      background-image: url(../../images/icons/homeLight.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;
      margin-left: 15px;
      margin-bottom: -1px;
    }
  }
}

.firAr {
  display: flex;
  height: 100%;
  width: 35px;

}

.firArin {
  width: 35px;
  height: 35px;
  background-image: url(../../images/workImg/butarr.png);
  background-size: cover;
  align-self: center;
  background-position: center;

  &:hover {
    transform: rotate(10deg);
  }

  &:active {

    transform: rotate(-9deg);
  }
}

.secAr {
  display: flex;
  height: 100%;
  width: 35px;

}

.secArin {
  width: 35px;
  height: 35px;
  background-image: url(../../images/workImg/butarr2.png);
  background-size: cover;
  align-self: center;
  background-position: center;

  &:hover {
    transform: rotate(-10deg);
  }

  &:active {

    transform: rotate(9deg);
  }
}

.imgblock {
  display: grid;
  align-items: center;
  align-self: center;
  width: 55%;
  height: 100%;



}

.extraimgs {
  justify-self: center;
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: auto-fill;
  grid-auto-flow: column;

}

.extraimg1 {
  background-position: center;
  background-size: contain;
  border-radius: 1rem;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOYMm5iYMp1tJ-9tkRgE5CZ7AYmz8M9pAouw&s);
  aspect-ratio: 1 / 1;
  width: 6vw;
  justify-self: center;
  min-width: 60%;
}

.extraimgs>.extraimg1:only-child {
  width: 10vw;
  min-width: 0;
}


.slick-slider {
  height: 100%;
  width: 50%;
  align-self: center;
  display: grid !important;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 90% 10%;
}

.imgSlide {
  min-height: 60%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  object-fit: contain;
  align-self: center;
  justify-self: center;
}

.slick-list {
  height: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-slide div div {
  width: 100%;
  display: grid !important;
  position: absolute;
  height: 100%;
}

.slick-slide div {
  height: 100%;
  position: relative;
}

.slick-slide {
  height: 100%;
}

.slick-track {
  position: relative;
  width: 10000px;
  opacity: 1;
  height: 100%;
}




.slick-arrow-next {
  align-self: center;
  justify-self: center;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  cursor: pointer;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    border-width: .8vmin .8vmin 0 0;
    border-style: solid;
    border-color: rgb(255, 230, 0);
    transition: .2s ease;
    display: block;
    transform-origin: 100% 0;
  }


  &:after {
    content: '';
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 .8vmin 0 0;
    border-style: solid;
    border-color: rgb(255, 230, 0);
    transform-origin: 100% 0;
    transition: .2s ease;
  }

  &:hover::after {
    border-color: rgba(255, 208, 0, 0.842);
    transform: scale(.8);
  }

  &:hover::before {
    border-color: rgb(121, 101, 101);
    transform: scale(.8);

  }

  &:active::after {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-color: #39b8ff;
    transform: scale(.8);
  }

  &:active::before {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-color: #39b8ff;
    transform: scale(.8);

  }

}



.slick-arrow-prev {
  align-self: center;
  justify-self: center;
  width: 30px;
  height: 30px;
  transform: rotate(-135deg);
  cursor: pointer;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    border-width: .8vmin .8vmin 0 0;
    border-style: solid;
    border-color: rgb(255, 230, 0);
    transition: .2s ease;
    display: block;
    transform-origin: 100% 0;
  }


  &:after {
    content: '';
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 .8vmin 0 0;
    border-style: solid;
    border-color: rgb(255, 230, 0);
    transform-origin: 100% 0;
    transition: .2s ease;
  }

  &:hover::after {
    border-color: rgba(255, 208, 0, 0.842);
    transform: scale(.8);
  }

  &:hover::before {
    border-color: rgb(121, 101, 101);
    transform: scale(.8);

  }

  &:active::after {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-color: #39b8ff;
    transform: scale(.8);
  }

  &:active::before {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-color: #39b8ff;
    transform: scale(.8);

  }
}


.slick-dots {
  bottom: 0 !important;
  width: 100%;
  height: 100%;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-template-rows: 100%;
  grid-column: 1 / 4;
  grid-row: 2;
  justify-content: center;

}

.slick-dots li {
  width: 100% !important;
  height: 100% !important;
}

.slick-dots li img {
  max-height: 100%;
  max-width: 100%;
}

.slick-active .listImgSlide {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: rgba(255, 238, 0, 0.4) 0px 5px, rgba(255, 208, 0, 0.3) 0px 10px, rgba(238, 255, 0, 0.2) 0px 15px, rgba(255, 187, 0, 0.1) 0px 20px, rgba(255, 238, 0, 0.05) 0px 25px;
  }

  50% {
    box-shadow: none;
  }

  100% {
    box-shadow: rgba(255, 238, 0, 0.4) 0px 5px, rgba(255, 208, 0, 0.3) 0px 10px, rgba(238, 255, 0, 0.2) 0px 15px, rgba(255, 187, 0, 0.1) 0px 20px, rgba(255, 238, 0, 0.05) 0px 25px;
  }
}

.popupWindow {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 30px;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.popupWindow.active {
  transform: scale(1);
}

.popupMainBlock {
  width: 900px;
  height: 620px;
  background-color: $defaultExtraColor;
  border-radius: 30px;

  &__head {
    background-color: #fff;
    height: 70px;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__contactUs {
      width: 320px;
      height: 90px;
      position: relative;
      top: -10px;
      background-color: rgba(57, 184, 255, 1);
      border-radius: 30px 30px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__link {
        color: #fff;
        font-size: 26px;
        font-weight: 700;
        text-decoration: none;
      }
    }

    &__closeButton {
      border: none;
      width: 23px;
      height: 23px;
      background-image: url("../../images/workImg/close.png");
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
    }

    &__closeButtonHover {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
    }

    &__closeButtonHover:hover {
      border-radius: 50%;
      background-color: rgba(57, 184, 255, 0.13);
      transition: 0.3s;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    h2 {
      margin-top: 25px;
      font-weight: 700;
      font-size: 50px;
      text-align: center;
      margin-bottom: 15px;
    }

    &__form {
      margin-top: 10px;

      &__submitButton {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px 30px;
        border-radius: 40px;
        border: 3px solid rgba(57, 184, 255, 1);
        margin: auto;
        margin-top: 10px;
        background-color: rgba(57, 184, 255, 1);
        transition: 0.5s;

        p {
          font-size: 26px;
          color: #fff;
          margin-right: 10px;
          font-weight: 700;
        }
      }

      &__submitButton:hover {
        background-color: #fff;
        transition: 0.5s;
      }

      &__submitButton:hover p {
        transition: 0.5s;
        color: $primaryDarkColor;
      }

      &__submitButton::before {
        content: "";
        width: 50px;
        height: 50px;
        background-image: url(../../images/icons/homeLight.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 26px;
      }

      &__submitButton:hover::before {
        content: "";
        width: 50px;
        height: 50px;
        background-image: url(../../images/icons/homeBlue.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 26px;
      }
    }

    &__inputBlock {
      height: 330px;
      width: 730px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.5fr 0.5fr 1fr;

      &__inputComent {
        height: 120px;
        width: 92%;
        border-radius: 20px;
        border: none;
        outline: none;
        padding-left: 30px;
        margin: auto;
        grid-column: 1 / 3;
        padding: 12px 20px 12px 20px;
        font-size: 20px;
        resize: none;
      }

      &__inputComent::placeholder {
        font-size: 20px;
      }

      &__input {
        height: 60px;
        width: 320px;
        border-radius: 70px;
        border: none;
        outline: none;
        padding-left: 30px;
        margin: auto;
        font-size: 20px;
      }

      &__input::placeholder {
        font-size: 20px;
      }

    }
  }
}

.shortStory {
  height: max-content;
  padding-top: 30px;
  margin: auto;
  width: 1120px;
  text-align: center;

  h2 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 30px;
    font-weight: 700;
  }

  p {
    color: #fff;
    font-size: 26px;
  }
}

.extraHelpBlock> :nth-child(3) {
  grid-row: 3;
  grid-column: 1;
}

.extraHelpBlock> :nth-child(5) {
  justify-self: left;
  grid-row: 2;
  grid-column: 3;
}

.extraHelpBlock> :nth-child(6) {
  justify-self: left;
  grid-row: 3;
  grid-column: 3;
}

.textHist h1 {
  font-size: "2rem";
}

.nameDiv {
  width: 100%;
  margin-bottom: -30px;
  justify-self: center;
  align-self: flex-end;
  align-items: center;
  color: $blueColor;
  font-size: 50px;
  font-weight: 700;
  transition: all 0.25s linear;
}

.petPic {
  width: 40vw;
  height: 70vh;
  justify-self: center;
  align-self: center;
  object-fit: cover;
  transition: 1s;
}

.helpPetBlock {
  width: 1120px;
  height: max-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      color: #fff;
      font-weight: 700;
      font-size: 50px;
    }

    p {
      color: #fff;
      font-size: 24px;
      padding-top: 10px;
      font-weight: 400;
      opacity: .7;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 0.5fr 0.8fr;
    height: max-content;
    width: 1120px;
    margin: auto;

    &__button {
      padding: 20px 0;
      width: 370px;
      border-radius: 50px;
      margin: auto;
      border: 3px solid #fff;
      background-color: $defaultExtraColor;
      font-size: 26px;
      font-weight: 600;
      transition: 0.5s;
      color: rgba(35, 31, 32, 1);
    }

    &__button:hover {
      border: 3px solid $defaultExtraColor;
      background-color: #fff;
      transition: 0.5s;
    }

    &__topLeft {
      grid-row: 1;
      grid-column: 1;
    }

    &__topRight {
      grid-row: 1;
      grid-column: 3;
    }

    &__downLeft {
      grid-row: 3;
      grid-column: 1;
    }

    &__downRight {
      grid-row: 3;
      grid-column: 3;
    }

    &__logo {
      grid-column: 2;
      grid-row: 2;
      margin: auto;
      width: 210px;
      height: 130px;
      border: 4px solid #fff;
      border-radius: 100px;
      background-image: url("../../images/logo/ukr_logo.jpg");
      background-size: cover;
      background-position: center;
    }
  }
}

.additionalPetsBlock {
  width: 1120px;
  min-height: max-content !important;
  display: flex;
  justify-content: space-around;
  flex-direction: row !important;
}

.petList__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.petList__title {
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}



@media (max-width: 1121px) {
  .begPetBlock {
    width: 100vw;
    height: calc(var(--index) * 38);
    padding: 0 25px;
    justify-content: space-between;

    &__descBlock {
      width: 40%;
      height: 100%;
      font-size: calc(var(--index) * 1.6);

      &__div {
        padding-bottom: calc(var(--index) * .9);
        gap: calc(var(--index) * 1.1);
      }

      &__button {
        padding: calc(var(--index) * .5) calc(var(--index) * 1.1);

        p {
          font-size: calc(var(--index) * 1.6);
        }
      }

      &__button:hover::before {
        width: calc(var(--index) * 3.1);
        background-size: calc(var(--index) * 1.7);
      }

      &__button::before {
        width: calc(var(--index) * 3.1);
        background-size: calc(var(--index) * 1.7);
        margin-left: calc(var(--index) * .7);
      }
    }
  }

  .nameDiv {
    width: 100%;
    margin-bottom: calc(var(--index) * -2);
    font-size: calc(var(--index) * 2.8);
  }

  .shortStory {
    padding: calc(var(--index) * 2) 25px 0 25px;
    width: 100vw;

    h2 {
      font-size: calc(var(--index) * 2.6);
      margin-bottom: calc(var(--index) * 2);
    }

    p {
      font-size: calc(var(--index) * 1.6);
    }
  }

  .helpPetBlock {
    width: 100vw;
    padding: 0 25px;
    height: max-content;
    margin: auto;
    gap: calc(var(--index) * 3.5);

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h2 {
        font-size: calc(var(--index) * 2.8);
      }

      p {
        font-size: calc(var(--index) * 1.3);
        padding-top: calc(var(--index) * .6);
      }
    }

    &__info {
      grid-template-columns: 1fr .5fr 1fr;
      width: 100vw;
      margin-left: -25px;

      &__button {
        padding: calc(var(--index) * 1.1) 0;
        width: calc(var(--index) * 21.5);
        font-size: calc(var(--index) * 1.5);
      }

      &__logo {
        width: calc(var(--index) * 12);
        height: calc(var(--index) * 7);
      }
    }
  }

  .additionalPetsBlock {
    width: 100vw;
    padding: 0 25px;
  }

  .petList__title {
    padding: 0 25px;
    font-size: calc(var(--index) * 2.8);
    margin-bottom: calc(var(--index) * 2.1);
  }

  .popupMainBlock {
    width: 80vw;
    height: calc(var(--index) * 35);

    &__head {
      height: calc(var(--index) * 3.9);

      &__contactUs {
        width: calc(var(--index) * 18.2);
        height: calc(var(--index) * 5);
        top: calc(var(--index) * -.5);

        &__link {
          font-size: calc(var(--index) * 1.5);
        }
      }

      &__closeButton {
        width: calc(var(--index) * 1.3);
        height: calc(var(--index) * 1.3);
      }

      &__closeButtonHover {
        width: calc(var(--index) * 2.8);
        height: calc(var(--index) * 2.8);
        margin-right: calc(var(--index) * 1.9);
      }
    }

    &__info {
      h2 {
        margin-top: calc(var(--index) * 1.5);
        font-size: calc(var(--index) * 2.8);
        margin-bottom: calc(var(--index) * .7);
      }

      &__form {
        margin-top: calc(var(--index) * .6);

        &__submitButton {
          padding: calc(var(--index) * .3) calc(var(--index) * 1.7);
          margin-top: calc(var(--index) * .5);

          p {
            font-size: calc(var(--index) * 1.5);
            margin-right: calc(var(--index) * .5);
          }
        }

        &__submitButton::before {
          width: calc(var(--index) * 2.8);
          height: calc(var(--index) * 2.8);
          background-size: calc(var(--index) * 1.5);
        }

        &__submitButton:hover::before {
          width: calc(var(--index) * 2.8);
          height: calc(var(--index) * 2.8);
          background-size: calc(var(--index) * 1.5);
        }
      }

      &__inputBlock {
        width: 100%;
        height: calc(var(--index) * 19);

        &__inputComent {
          width: 84vw;
          height: calc(var(--index) * 7.2);
          padding: calc(var(--index) * .7) calc(var(--index) * 1.7);
          font-size: calc(var(--index) * 1.2);
        }

        &__inputComent::placeholder {
          font-size: calc(var(--index) * 1.2);
        }

        &__input {
          height: calc(var(--index) * 3.6);
          width: 100%;
          padding-left: calc(var(--index) * 2);
          font-size: calc(var(--index) * 1.2);
        }

        &__input::placeholder {
          font-size: calc(var(--index) * 1.2);
        }

      }
    }
  }
}

@media (max-width: 880px) {
  .helpPetBlock {
    &__text {
      h2 {
        font-size: calc(var(--index) * 2.8);
        width: 90%;
      }

      p {
        font-size: calc(var(--index) * 1.3);
        padding-top: calc(var(--index) * .6);
        width: 90%;
      }
    }

    &__info {
      grid-template-columns: 1fr .5fr 1fr;
      width: 100vw;
      margin-left: -25px;

      &__button {
        padding: calc(var(--index) * 1.1) 0;
        width: calc(var(--index) * 20.5);
        font-size: calc(var(--index) * 1.5);
      }

      &__logo {
        width: calc(var(--index) * 11);
        height: calc(var(--index) * 7);
      }
    }
  }

  .petList__title {
    width: 90%;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .additionalPetsBlock {
    flex-direction: column !important;
  }

  .helpPetBlock {
    &__text {
      h2 {
        font-size: calc(var(--index) * 2.9);
        width: 90%;
      }

      p {
        font-size: calc(var(--index) * 1.4);
        padding-top: calc(var(--index) * .6);
        width: 90%;
      }
    }

    &__info {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: calc(var(--index) * 3);
      width: 100vw;
      margin-left: -25px;

      &__button {
        padding: calc(var(--index) * 1.1) 0;
        width: calc(var(--index) * 24.5);
        font-size: calc(var(--index) * 1.7);
      }

      &__logo {
        width: calc(var(--index) * 13);
        height: calc(var(--index) * 7);
      }
    }
  }

  .begPetBlock {
    width: 100vw;
    height: calc(var(--index) * 84);
    padding: 0 25px;
    flex-direction: column-reverse;
    gap: calc(var(--index) * 2);
    justify-content: space-between;
    align-items: center;

    .begPetBlock__descBlock {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &__descBlock {
      width: 60vw;
      height: 100%;
      font-size: calc(var(--index) * 1.8);
      align-items: center;

      &__div {
        width: 100%;
        padding-bottom: calc(var(--index) * .9);
        justify-content: space-between;
        gap: calc(var(--index) * 9);

        span {
          text-align: end;
        }
      }

      &__button {
        margin-top: calc(var(--index) * 5);
        padding: calc(var(--index) * .6) calc(var(--index) * 1.2);

        p {
          font-size: calc(var(--index) * 1.8);
        }
      }

      &__button:hover::before {
        width: calc(var(--index) * 3.1);
        background-size: calc(var(--index) * 1.8);
      }

      &__button::before {
        width: calc(var(--index) * 3.1);
        background-size: calc(var(--index) * 1.8);
        margin-left: calc(var(--index) * .7);
      }
    }
  }

  .slick-slider {
    width: 80%;
  }

  .imgSlide {
    max-height: 80%;
  }

  .petPic {
    width: 60vw;
    margin-top: calc(var(--index) * -7);
  }

  .nameDiv {
    width: 100%;
    text-align: center;
    margin-bottom: calc(var(--index) * 4);
    font-size: calc(var(--index) * 2.9);
  }

  .shortStory {
    padding: calc(var(--index) * 2) 25px 0 25px;
    width: 100vw;

    h2 {
      font-size: calc(var(--index) * 2.7);
      margin-bottom: calc(var(--index) * 2);
    }

    p {
      font-size: calc(var(--index) * 1.7);
    }
  }

  .petList__title {
    font-size: calc(var(--index) * 2.9);
    margin-bottom: calc(var(--index) * 3);
  }
}


@media (max-width: 750px) {
  .popupMainBlock {
    width: 90vw;
    height: calc(var(--index) * 36);
  }

  .petList__container {
    margin-top: 120px;
    margin-bottom: 70px;
  }
}

@media (max-width: 624px) {
  .popupMainBlock {
    width: 90vw;
    height: calc(var(--index) * 36.5);

    &__info {
      h2 {
        margin-top: calc(var(--index) * 1.6);
        font-size: calc(var(--index) * 2.6);
        margin-bottom: calc(var(--index) * .8);
      }

      &__form {
        margin-top: calc(var(--index) * .6);

        &__submitButton {
          padding: calc(var(--index) * .3) calc(var(--index) * 1.7);
          margin-top: calc(var(--index) * .8);

          p {
            font-size: calc(var(--index) * 1.6);
            margin-right: calc(var(--index) * .5);
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .popupMainBlock {
    width: 90vw;
    height: calc(var(--index) * max-content);

    &__head {
      height: calc(var(--index) * 4);

      &__contactUs {
        width: calc(var(--index) * 18.2);
        height: calc(var(--index) * 5.3);
        top: calc(var(--index) * -.6);

        &__link {
          font-size: calc(var(--index) * 1.5);
        }
      }

      &__closeButton {
        width: calc(var(--index) * 1.5);
        height: calc(var(--index) * 1.5);
      }

      &__closeButtonHover {
        width: calc(var(--index) * 2.8);
        height: calc(var(--index) * 2.8);
        margin-right: calc(var(--index) * 1.9);
      }
    }

    &__info {
      h2 {
        margin-top: calc(var(--index) * 1.6);
        font-size: calc(var(--index) * 2.4);
        margin-bottom: calc(var(--index) * 1);
      }

      &__form {
        margin-top: calc(var(--index) * .6);

        &__submitButton {
          padding: calc(var(--index) * .3) calc(var(--index) * 1.7);
          margin-top: calc(var(--index) * 1.5);
          margin-bottom: calc(var(--index) * 1.5);

          p {
            font-size: calc(var(--index) * 1.7);
            margin-right: calc(var(--index) * .5);
          }
        }
      }

      &__inputBlock {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: calc(var(--index) * 1);

        &__inputComent {
          width: 84vw;
          height: calc(var(--index) * 7.6);
          padding: calc(var(--index) * .7) calc(var(--index) * 1.7);
          font-size: calc(var(--index) * 1.4);
        }

        &__inputComent::placeholder {
          font-size: calc(var(--index) * 1.4);
        }

        &__input {
          height: calc(var(--index) * 3.9);
          width: 100%;
          padding-left: calc(var(--index) * 2);
          font-size: calc(var(--index) * 1.4);
        }

        &__input::placeholder {
          font-size: calc(var(--index) * 1.4);
        }
      }
    }
  }
}

@media (max-width: 510px) {
  .nameDiv {
    width: 100%;
    text-align: center;
    margin-bottom: calc(var(--index) * 4);
    font-size: calc(var(--index) * 3.5);
  }

  .begPetBlock {
    width: 100vw;
    height: calc(var(--index) * 84);
    padding: 0 25px;
    flex-direction: column-reverse;
    gap: calc(var(--index) * 2);
    justify-content: space-between;
    align-items: center;

    .begPetBlock__descBlock {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &__descBlock {
      width: 60vw;
      height: 100%;
      font-size: calc(var(--index) * 1.8);
      align-items: center;

      &__div {
        width: 100%;
        padding-bottom: calc(var(--index) * .9);
        justify-content: space-between;
        gap: calc(var(--index) * 9);

        span {
          text-align: end;
        }
      }

      &__button {
        margin-top: calc(var(--index) * 5);
        padding: calc(var(--index) * .6) calc(var(--index) * 1.2);

        p {
          font-size: calc(var(--index) * 2);
        }
      }

      &__button:hover::before {
        width: calc(var(--index) * 3.3);
        background-size: calc(var(--index) * 2);
      }

      &__button::before {
        width: calc(var(--index) * 3.3);
        background-size: calc(var(--index) * 2);
        margin-left: calc(var(--index) * .7);
      }
    }
  }

  .slick-slider {
    width: 88%;
  }

  .shortStory {
    h2 {
      font-size: calc(var(--index) * 2.9);
    }

    p {
      font-size: calc(var(--index) * 1.8);
    }
  }

  .helpPetBlock {
    &__text {
      h2 {
        font-size: calc(var(--index) * 3.5);
        width: 90%;
      }

      p {
        font-size: calc(var(--index) * 1.6);
        padding-top: calc(var(--index) * .6);
        width: 90%;
      }
    }

    &__info {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: calc(var(--index) * 3);
      width: 100vw;
      margin-left: -25px;

      &__button {
        padding: calc(var(--index) * 1.1) 0;
        width: calc(var(--index) * 27);
        font-size: calc(var(--index) * 2);
      }

      &__logo {
        width: calc(var(--index) * 13);
        height: calc(var(--index) * 7);
      }
    }
  }

  .petList__title {
    font-size: calc(var(--index) * 3.5);
    margin-bottom: calc(var(--index) * 4.4);
  }
}

@media (max-width: 480px) {
  .popupMainBlock {
    width: 92vw;

    &__head {
      height: calc(var(--index) * 4.1);
    }

    &__info {
      h2 {
        margin-top: calc(var(--index) * 1.6);
        font-size: calc(var(--index) * 2.4);
        margin-bottom: calc(var(--index) * 1);
        width: 85%;
        text-align: center;
      }

      &__form {
        margin-top: calc(var(--index) * .6);

        &__submitButton {
          padding: calc(var(--index) * .3) calc(var(--index) * 1.7);
          margin-top: calc(var(--index) * 1.5);
          margin-bottom: calc(var(--index) * 1.5);

          p {
            font-size: calc(var(--index) * 1.7);
            margin-right: calc(var(--index) * .5);
          }
        }
      }

      &__inputBlock {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: calc(var(--index) * 1.1);

        &__inputComent {
          width: 85vw;
          height: calc(var(--index) * 7.8);
          padding: calc(var(--index) * .7) calc(var(--index) * 1.7);
          font-size: calc(var(--index) * 1.5);
        }

        &__inputComent::placeholder {
          font-size: calc(var(--index) * 1.5);
        }

        &__input {
          height: calc(var(--index) * 4.1);
          width: 100%;
          padding-left: calc(var(--index) * 2);
          font-size: calc(var(--index) * 1.5);
        }

        &__input::placeholder {
          font-size: calc(var(--index) * 1.5);
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .popupMainBlock {
    width: 92vw;

    &__head {
      height: calc(var(--index) * 4.2);

      &__contactUs {
        width: calc(var(--index) * 18.2);
        height: calc(var(--index) * 5.4);
        top: calc(var(--index) * -.5);

        &__link {
          font-size: calc(var(--index) * 1.5);
        }
      }

      &__closeButton {
        width: calc(var(--index) * 1.6);
        height: calc(var(--index) * 1.6);
      }

      &__closeButtonHover {
        width: calc(var(--index) * 3);
        height: calc(var(--index) * 3);
        margin-right: calc(var(--index) * 1.9);
      }
    }

    &__info {
      h2 {
        margin-top: calc(var(--index) * 1.6);
        font-size: calc(var(--index) * 2.6);
        margin-bottom: calc(var(--index) * 1);
        width: 85%;
        text-align: center;
      }

      &__form {
        margin-top: calc(var(--index) * .6);

        &__submitButton {
          padding: calc(var(--index) * .4) calc(var(--index) * 2);
          margin-top: calc(var(--index) * 1.8);
          margin-bottom: calc(var(--index) * 1.8);

          p {
            font-size: calc(var(--index) * 1.9);
            margin-right: calc(var(--index) * .5);
          }
        }
      }

      &__inputBlock {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: calc(var(--index) * 1.1);

        &__inputComent {
          width: 82vw;
          height: calc(var(--index) * 9);
          padding: calc(var(--index) * .7) calc(var(--index) * 1.7);
          font-size: calc(var(--index) * 1.7);
        }

        &__inputComent::placeholder {
          font-size: calc(var(--index) * 1.7);
        }

        &__input {
          height: calc(var(--index) * 4.3);
          width: 100%;
          padding-left: calc(var(--index) * 2);
          font-size: calc(var(--index) * 1.7);
        }

        &__input::placeholder {
          font-size: calc(var(--index) * 1.7);
        }
      }
    }
  }
}