@import '../defines.scss';

.App {
  overflow-x: hidden;
}


.mainPetBlock {
  ::selection {
    color: $defaultBackColor;
    background-color: $defaultMainColor;
  }

  margin-top: 67px;
  border: 1px dotted $defaultMainColor;
  min-height: 100vh;
  max-height: auto;
  width: 100vw;
  background-image: url(../../images/background/back2.png);
  background-position: center;
  background-size: 100%;



}

.begPetBlock {
  width: 100vw;
  height: calc(100vh - 67px);
  display: grid;
  grid-template-rows: 10% 90%;
  position: relative;




}

.firstBegBlock {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.cornerButton {
  font-size: 1vw;
  color: $defaultExtraColor;
  margin: 3%;
  width: 60%;
  height: 85%;
  min-width: 140px;
  background: $defaultBackColor;
  border: 1px solid $defaultMainColor;
  border-radius: 1.7rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;

}

.cornerButton:hover {
  background-color: $defaultExtraColor2;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
  color: #ffffff;
  text-align: center;
}

.cornerButton:active {
  background-color: rgba(218, 102, 123, 1);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.cornerButton::before {
  content: '⠀⠀⠀';
  margin-right: 2%;
  background-image: url(../../images/workImg/ar.png);
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;


}


.nameDiv {
  display: grid;
  width: 50%;
  height: 60%;
  justify-self: center;
  align-self: flex-end;
  align-items: center;
  color: $defaultExtraLessLight;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;

}


.stLogo {
  width: 50px;
  height: 50px;
  background-color: $defaultExtraColor2;
  justify-self: end;
  border-radius: 50%;
  margin-top: 1%;
  margin-right: 4.5%;
  background-image: url(../../images/logo/transparent-logo.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}



.secondBegBlock {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 6fr 0.5fr 1fr 5fr;
}


.firstAr {
  align-self: center;
  border: none;
  background-image: url(../../images/workImg/butarr.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 70%;
  height: 8%;
  transition: 0.2s linear;
  border-radius: 80%;
}

.firstAr:hover {
  background-position: top;
  background-size: 74%;

}

.firstAr:active {
  transition: 0s linear;
  // background-image:url(../../images/workImg/paw_y.png) ;
  transform: rotate(-20deg)
}


.scndAr {
  align-self: center;
  border: none;
  background-image: url(../../images/workImg/butarr2.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 70%;
  height: 8%;
  transition: 0.2s linear;
  border-radius: 80%;
}

.scndAr:hover {
  background-position: top;
  background-size: 74%;

}

.scndAr:active {
  transition: 0s linear;
  // background-image:url(../../images/workImg/paw_y.png) ;
  transform: rotate(20deg)
}



.petPic {
  width: auto;
  height: auto;
  border-radius: 13%;
  justify-self: center;
  align-self: center;
  max-width: 97%;
  max-height: 90%;
  background-color: $defaultExtraColor2;
  box-shadow: 0 0 0, 8px 8px 0 0 $defaultExtraColor2;

}


// .petLog{
// background-image: url(../../images/icons/cat_log.png);
// background-repeat: no-repeat;
// background-size: 61%;
// background-position: 50% 20%;


// }
// .dogLog{
// width: 100%;
// height: 100%;
// background-repeat: no-repeat;
// background-size: 61%;
// background-position: 50% 50%;
// background-image: url(../../images/icons/dog_log2.png);
// }
// .pawLog{
//   width: 100%;
//   height: 100%;
//   background-repeat: no-repeat;
//   background-size: 61%;
//   background-position: 50% 80%;
//   background-image: url(../../images/icons/paw-paw.png);
//   }




.descBlock {
  // background-color: rgba(35, 31, 32, 1);
  border-radius: 5%;

  color: $defaultExtraLessLight;
  width: 95%;
  height: 80%;
  text-align: left;
  align-self: center;
  font-size: 2vw;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1.3fr;
  overflow: auto;
  padding-bottom: 1%;
}

.descBlock p {
  background-color: $defaultBackColor;
  // box-shadow: rgba(208, 255, 0, 0.021) 0px 54px 55px, rgba(255, 251, 0, 0.021) 0px -12px 30px, rgba(255, 187, 0, 0.021) 0px 4px 6px, rgba(251, 255, 0, 0.021) 0px 12px 13px, rgba(255, 251, 0, 0.027) 0px -3px 5px;
}

.likePet {
  margin-left: 10%;
  text-align: center;
  justify-self: left;
  align-self: center;
  width: 70%;
  height: 83%;
  border: none;
  outline: none;
  color: #fff;
  background: $defaultExtraColorDark;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 1.7rem;
}

.likePet:before {

  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 1.7rem;
}

.likePet:active {
  color: #ff0000;

}

.likePet:active:after {
  background: transparent;
}

.likePet:hover:before {
  opacity: 1;
}

.likePet:after {

  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: $defaultExtraColorDark;
  left: 0;
  top: 0;
  border-radius: 1.7rem;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}




.arDown {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);

}

.arDown span {
  display: block;
  width: 1vw;
  height: 1vw;
  border-bottom: 5px solid rgb(255, 0, 212);
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arDown span:nth-child(2) {
  animation-delay: -0.2s;
}

.arDown span:nth-child(3) {
  animation-delay: -0.4s;
}

.ar2Down {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);

}

.ar2Down span {
  display: block;
  width: 1vw;
  height: 1vw;
  border-bottom: 5px solid #3d3777;
  border-right: 5px solid#ff3541;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.ar2Down span:nth-child(2) {
  animation-delay: -0.2s;
}

.ar2Down span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}


.midPetBlock {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;

}

.ndMidBlock {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 5fr 2.5fr;
  max-height: 100vh;
}





.histBlock {
  align-self: center;
  justify-self: center;
  width: 90%;
  height: 80%;
  border: 1px $defaultMainColor dotted;
  display: grid;

}

.textHist {
  align-self: center;
  justify-self: center;
  background-color: $defaultExtraLessDark;
  width: 95%;
  height: 95%;
  border-radius: 1.4rem;
  overflow: auto;
  padding: 3%;
  overflow-wrap: break-word;

}

.textHist h1 {
  background-image: url('../../images/logo/transparent-logo.png');
  background-size: 8%;
  background-position: 0 center;
  background-repeat: no-repeat;

}

.helpBut {

  z-index: 0;
  text-align: center;
  position: relative;
  margin-top: 1%;
  align-self: flex-start;
  justify-self: center;
  width: 65%;
  height: 40%;
  padding: 25px 30px;
  background-color: rgba(35, 31, 32, 1);
  color: $defaultMainColor;
  font-size: 2vw;
  border: 1px solid $defaultExtraColor;
  border-radius: 1.7rem;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.helpBut:hover {
  background-image: url('../../images/workImg/paw_v.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $defaultExtraColor;
  color: #050801;
  box-shadow: 0 0 5px #ffee00,
    0 0 25px #e0dd00,
    0 0 50px #ff00ff,
    0 0 200px #ffc400;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);

}

.helpBut::before {
  position: absolute;
  content: '⠀⠀⠀';
  background-image: url(../../images/logo/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  height: 60%;
  width: 20%;
  background-position: left bottom;
  left: 0;
  z-index: -1;

}

.helpBut:active {
  transition: none;
  z-index: unset;
  background: #00ffd5;
  color: white;
}

// .stMidBlock {
//   background-image: url('../../images/background/poster3.jpg');
//   background-position: center;
//   background-size: contain;
//   box-shadow: $defaultBoxShadow;
// }

// .rdMidBlock {
//   background-image: url('../../images/background/poster2.jpg');
//   background-position: center;
//   background-size: contain;
//   box-shadow: $defaultBoxShadow;
// }

.endPetBlock {
  width: 100vw;
  height: 100vh;
  display: grid;
  position: relative;
}

.extraHelpBlock {
  width: 100vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 2fr 2fr;

}

.helpTextBlock {
  align-items: end;
  justify-content: center;
  display: flex;
  grid-row: 1;
  grid-column: 1 / -1;
  color: white;
  font-size: 3vw;
  font-weight: bold;


}

.helpTextBlock::after {

  content: ' :';
  color: $defaultExtraColor;

}

.extraHelpBut {
  justify-self: end;
  align-self: flex-end;
  width: 80%;
  height: 40%;
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 1.7rem;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 34px -7px #f700ff;
  background-image: $defaultGradient;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.extraHelpBut:hover {
  background-position: right center;

  color: #fff;
  text-decoration: none;
}

.extraHelpBut:active {
  transform: scale(0.95);
}


.logExtraHelp {
  box-shadow: 0px 0px 50px -7px $defaultExtraColor2;
  margin-top: 20%;
  border-radius: 45%;
  background-image: url(../../images/logo/ukr_logo.jpg);
  background-position: center;
  background-size: cover;
  width: 86%;
  height: 40%;
  justify-self: center;
  align-self: center;
  grid-row: 2 / 4;
  grid-column: 2;
}

.extraPetsBlock {
  width: 100vw;
  height: 100vh;
  display: grid;

}

.extraPets {
  position: relative;
  display: grid;
  align-self: center;
  justify-self: center;
  width: 92vw;
  height: 92vh;
  background-color: $defaultExtraOneMoreColor;
  border-radius: 1.4rem;
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 1fr 1fr 1fr;


}



.petsTopCircle {
  justify-self: left;
  align-self: center;
  margin: 2%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: $defaultBackColor;
  background-image: url(../../images/logo/black-logo.jpg);
  background-size: cover;
  background-position: center;
}

.petsTopText {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 3vw;
}

.extraPets1 {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-rows: 57% 43%;
}

.extraPets1Pic {
  justify-self: center;
  align-self: center;
  border-radius: 100%;
  height: 20vw;
  width: 20vw;

  background-image: url("https://zoobonus.ua/storage/breeds/images/big/xcXvascUwhkKCTApMFpTQB8inuJGYYDvkU0u8XyS.jpg");
  background-position: center;
  background-size: cover;

}

.extraPets1desc {
  padding: 4%;
  overflow-wrap: break-word;
  font-size: 2vw;
  overflow: auto;

}

@media only screen and (min-width: 1400px) {
  body {
    border: #0004ff 3px solid;
  }

  .nameDiv {
    font-size: 2.4vw;
  }

  .petPic {
    height: 80%;
    object-fit: cover;
  }

  .likePet::before {
    border-radius: 2em;
  }

  .likePet::after {
    border-radius: 2em;
  }

  .likePet {
    border-radius: 2em;
  }

  .cornerButton {
    border-radius: 2em;
  }

  .descBlock p {
    font-size: 1.6vw;
  }

  .descBlock button {
    font-size: 1.9vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    border: #ff0000 3px solid;
  }

  .cornerButton {
    font-size: 1.4vw;
  }

  .descBlock {
    font-size: 2.5vw;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  body {
    border: #d400ff 3px solid;
  }

  .cornerButton {
    font-size: 1.8vw;
  }

  .secondBegBlock {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .nameDiv {
    align-self: flex-start;
  }

  .descBlock {
    grid-row: 2;
    grid-column: 1 / 6;
    justify-self: center;
    align-self: center;
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 3vw;
  }

  .firstAr {
    width: 100%;
    height: 100%;
    background-position: right bottom;
    background-size: 30%;
    border-radius: 0;
    margin-left: 18%;

  }

  .firstAr:hover {
    background-position: left bottom;
    background-size: 35%;
  }

  .scndAr {
    width: 100%;
    height: 100%;
    background-position: left bottom;
    background-size: 30%;
    border-radius: 0;
    margin-right: 18%;
  }

  .scndAr:hover {
    background-position: right bottom;
    background-size: 35%;
  }

  .scndAr:active {
    background-image: url(../../images/workImg/paw_y.png);
    transform: none;
  }

  .firstAr:active {
    background-image: url(../../images/workImg/paw_y.png);
    transform: none;
  }

  .likePet {
    margin-left: 0;
    justify-self: center;
  }

  .arDown span {
    background-color: transparent;
    border: none;
  }
}