@import '../defines.scss';

ul,
li,
hr,
h5,
a,
p,
ol {
   margin: 0;
   padding: 0;
}

.footer {
   overflow-x: hidden;
   background-color: #231F20;
   padding: 30px 0 25px 0;
   line-height: 130%;
   text-align: left;

   &__container {
      max-width: 1150px;
      margin: 0 auto;
      position: relative;
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   &__logo-area {
      margin-bottom: 35px;
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: center;
   }

   &__logo-img {
      margin-bottom: 5px;
      width: 68px;
      height: 48px;
   }

   &__logo-text {
      color: #fff;
      font-weight: 600;
      font-size: 30px;
      line-height: 130%;
      letter-spacing: 0.19em;
   }

   &__navigation {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 75px;
      margin-bottom: 55px;
   }

   &__nav-block {}

   &__bottom {}
}

.footer-nav-block {
   &_contacts {
      grid-column-start: 1;
      grid-column-end: 3;
   }

   &__title {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 0.02em;
      color: #FFD600;
      margin-bottom: 15px;
   }

   &__social-media {
      display: flex;
      align-items: center;
      gap: 20px;
   }

   &__social-media-icon {}

   &__social-media-icon img {
      width: 41px;
      height: 41px;
   }

   &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
   }

   &__item {
      display: flex;
      align-self: start;
   }

   &__link {
      color: #fff;
      font-weight: 600;
      letter-spacing: 0.02em;
      font-size: 20px;
      line-height: 130%;

      &:hover {
         color: #FFD600;
         text-decoration: none;
      }
   }

   &__text {
      color: #fff;
      font-weight: 600;
      letter-spacing: 0.02em;
      font-size: 20px;
      line-height: 130%;
   }

   &__input {
      padding: 16px 67px 16px 20px;
      background-color: #fff;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: 0.02em;
      outline: none;
      border: none;
      height: 100%;
      width: 100%;
      min-width: 250px;
      border-radius: 66px;

      &::placeholder {
         color: #989898;
      }
   }

   &__input-area {
      position: relative;
      height: 55px;
      width: 70%;
      min-width: 250px;
   }

   &__button {
      background-color: #FFD600;
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      outline: none;
      height: 100%;
      padding: 0 12px;
      border-top-right-radius: 66px;
      border-bottom-right-radius: 66px;
   }

   &__button img {
      width: 26px;
      height: 25px;
   }
}

.footer-bottom {
   font-weight: 600;
   font-size: 16px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__text {
      color: #fff;
   }

   &__link {
      color: #fff;

      &:hover {
         color: #fff;
         text-decoration: underline;
      }
   }
}

.footer__navigation {
   padding-left: 4%;
}

.footer__nav-block.footer-nav-block {
   margin-right: 5%;
}

.footer-nav-block__link {
   text-decoration: none;
   transition: 0.25s linear;
}

@media only screen and (min-width: 700px) and (max-width:900px) {

   // body{
   //    border:3px solid aqua;
   // }
   .footer-nav-block__title {
      font-size: 3.3vw;
   }

   .footer-nav-block__link {
      font-size: 2.8vw;
   }

   .footer__nav-block.footer-nav-block.footer-nav-block_contacts h5 {
      font-size: 4vw;
   }
}

@media only screen and (min-width: 575px) and (max-width:699px) {

   // body{
   //    border:3px solid rgb(255, 0, 0);
   // }
   .footer-nav-block__title {
      font-size: 3.6vw;
   }

   .footer-nav-block__link {
      font-size: 3.1vw;
   }

   .footer__nav-block.footer-nav-block.footer-nav-block_contacts h5 {
      font-size: 24px;
   }

   .footer__navigation {
      row-gap: 40px;
      grid-template-rows: auto auto;
   }

   .footer-nav-block__list {
      height: auto;
   }

}

@media only screen and (min-width: 489px) and (max-width:574px) {

   // body{
   //    border:3px solid rgb(43, 255, 0);
   // }
   .footer-nav-block__title {
      font-size: 4.1vw;
   }

   .footer-nav-block__link {
      font-size: 3.7vw;
   }

   .footer__nav-block.footer-nav-block.footer-nav-block_contacts h5 {
      font-size: 24px;
   }

   .footer__navigation {
      row-gap: 40px;
      grid-template-rows: auto auto;
   }

   .footer-nav-block__list {
      height: auto;
   }

   .footer__navigation {
      padding-right: 2%;
      padding-left: 2%;
   }

}

@media only screen and (min-width: 200px) and (max-width:488px) {

   // body{
   //    border:3px solid rgb(0, 89, 255);
   // }
   .footer-nav-block__title {
      font-size: 5.5vw;
      text-align: center;
   }

   .footer-nav-block__link {
      font-size: 4.5vw;
      justify-self: center;
   }

   .footer__nav-block.footer-nav-block.footer-nav-block_contacts h5 {
      font-size: 24px;
      text-align: start;
   }

   .footer__nav-block.footer-nav-block.footer-nav-block_contacts ul p {
      text-align: start;
   }

   .footer__navigation {
      row-gap: 20px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
   }

   .footer-nav-block__list {
      height: auto;
   }

   .footer-nav-block__item {
      display: grid;
      width: 100%;
      text-align: center;
   }

   .footer__navigation {
      padding-right: 2%;
      padding-left: 2%;
   }

   .footer-nav-block__input-area {
      min-width: 200px;
   }

   .footer-nav-block__input-area input {
      min-width: 200px;
   }

}